<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C1154CC829A4703300F42EA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1154CCF29A4703300F42EA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C17555DC299D141F00B879CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1A3E444298DCC9C00931529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1A3E44C298DCC9C00931529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1A3E4762991AD7E00931529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
